.main {
    width: 683px;

    &__title {
        font-family: 'Inter';
        font-weight: 600;
        font-size: 58px;
        line-height: 70px;

        position: relative;
        z-index: 2;

        &:after {
            position: absolute;
            content: '';

            top: 0;
            left: 0;
            bottom: 0;
            right: 0;

            background: rgba(255, 255, 255, 0.8);
            filter: blur(70px);
            z-index: -1;
        }

        span {
            color: #0945DD;
        }
    }
    &__button {
        margin-top: 45px;

        padding: 24px 40px;

        background: linear-gradient(93.42deg, rgba(1, 48, 168, 0.078) 7.81%, rgba(255, 255, 255, 0.3) 52.65%, rgba(255, 255, 255, 0.3) 86.63%);
        border: 1px solid #232323;

        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
    }
}